@config "../tailwind.config.js";
@import "tailwindcss";
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  font-family: 'Pretendard', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  --color-background:#ffffff;
  /* color-scheme: light dark; */
  color: #213547;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}
/* 모바일 브라우저 기본 버튼 UI 제거 */
button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
  appearance: none;
}

.dark{
  --color-background:#242424;
  background-color: var(--color-background);
  color: #e4e4e4;
}
#root{
  width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities {
  .bg-app {
    background-color: var(--color-background);
  }
}
